@import '../../../../Var.css';

.timeLine {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px 20px 100px;
    text-align: center;
    box-sizing: border-box;
}

.timeLine-title h2 {
    margin: 0 0 10px;
    font-size: 2.5rem;
    color: var(--purple-imperial);
}

.timeLine-title > p {
    margin: 0 0 80px;
    font-size: 1.1rem;
}

.timeLine-scroll-text{
    margin-bottom: 15px;
    font-size: 0.85rem;
    color: var(--purple-imperial);
    opacity: 0.8;
}

.timeLine-Text{
    position: relative;
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    box-sizing: border-box;
    scrollbar-width: thin;
    -webkit-overflow-scrolling: touch;
}

.timeLine-content{
    position: relative;
    display: flex;
    align-items: center;
    width: max-content;
    min-width: 100%;
    min-height: 800px;
    padding: 0 60px ;
    box-sizing: border-box;
}

.timeLine-content::before{
    content: '';
    position:  absolute;
    top: 50%;
    left: 60px;
    width: calc(100% - 120px);
    height: 3px;
    transform: translateY(-50%);
    background-color: var(--purple-imperial);
    z-index: 1;
}


.timeLine-content > *{
    flex: 0 0 250px;
}

.timeLine-controls{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-bottom: 20px;
}

.timeLine-controls button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid var(--purple-royal);
    background-color: var(--red-love);
    color: var(--yellow-solar);
    font-size: 1.4rem;
    cursor: pointer;
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease,
        opacity 0.3s ease
}

.timeLine-controls button:hover:not(:disabled){
    transform: scale(1.1);
    box-shadow: 0 0 15px var(--purple-royal);
}

.timeLine-constrols button:disabled{
    opacity: 0.3;
    cursor: not-allowed;
}

.timeLine-controls span{
    min-width: 60px;
    font-size: 0.9rem;
    font-weight: bold;
    color: var(--purple-imperial);
}