@import '../../../../Var.css';

.gallery-title{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.gallery{
    width: min(1200px, 92%);
    margin: 40px auto;
    columns: 3 280px;
    column-gap: 20px;
}