@import '../../../../Var.css';

.img{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
    cursor: pointer;
    break-inside: avoid;
    border: 1px solid var(--purple-imperial);
    border-radius: 16px;
    background-color: var(--red-wide);
    box-shadow: 0 5px 15px var(--purple-plum);
    transition: 
        transform 0.3s ease,
        box-shadow 0.3 ease;
}

.img img{
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: 
        traansform 0.4 ease,
        filter 0.4 ease;
}

.img:hover{
    box-shadow: 0px 0px 20px var(--purple-royal);
    transform: scale(1.05);
}

.img-img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0px 0px 10px var(--purple-imperial);
}

.img-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    color: var(--yellow-cream);
    background-color: var(--red-rose);
    padding: 20px;
}

.img-title{
    padding: 14px 16px;
    font-size: 24px;
    font-weight: bold;
    background-color: var(--red-cherry);
    border-radius: 5px;
}

.img-title h3{
    margin: 0;
    font-size: 1rem;
    line-height: 1.3;
    color: var(--yellow-solar);
    background-color: var(--red-cherry);
}

.img-description{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    background-color: var(--red-cherry);
    opacity: 0;
    transform: translateY(100%);
    transition: 
        opacity 0.3 ease,
        trasform 0.3 ease;
    pointer-events: none;
}

.img.active .img-description{
    opacity: 1;
    transform: translateY(0);
}

.img-description p{
    margin: 0;
    color: var(--yellow-cream);
    font-size: 0.95rem;
    line-height: 1.5;
    background-color: var(--red-cherry);
}

.img:active img{
    transform: scale(1.03);
    filter: brightness(0.63);
}