@import '../../Var.css';

.footer{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--purple-imperial);
    border-top: 2px solid var(--red-love);
}

.footer-content{
    max-width: 100%;
    margin: 0 auto;
    padding: 60px 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 50px;
}

.footer-logo{
    margin-bottom: 16px;
    font-weight: bold;
    color: var(--purple-plum);
    background: linear-gradient(to right, var(--yellow-solar), var(--yellow-cream));
    padding: 5px 10px;
    border-radius: 5px;
    justify-self: start;
}

.footer-text p{
    font-size: 14px;
    color: var(--yellow-cream);
    line-height: 1.5;
}

