@import '../../Var.css';

.footer{
    width: 100%;
    display: flex;
    justify-content: center;
    border-top: 1px solid var(--red-rose);
}

.footer-content{
    max-width: 100%;
    margin: 0 auto;
    padding: 60px 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 50px;
}

.footer-logo{
    margin-bottom: 16px;
    font-weight: bold;
    color: var(--yellow-vanilla);
    background: linear-gradient(to right, var(--purple-lavender), var(--yellow-golden));
    padding: 5px 10px;
    border-radius: 5px;
    justify-self: start;
}

.footer-text p{
    font-size: 14px;
    color: var(--purple-plum);
    line-height: 1.5;
}

