@import './Var.css';

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root{
  height: 100%;
}

body{
  height: 100vh;
  font-family: sans-serif;
  color: var(--purple-plum);
  background-color: var(--yellow-vanilla);
  line-height: 1.5;
}

.app{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}